.nav {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  width: 95%;
  max-width: 64rem;
  border-radius: 1rem;
  transition: all 500ms ease;
  background: white;
}

.navDefault {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05);
}

.navScrolled {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.08);
}

.inner {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}
